<img src="/splash.png" alt="Exit Philadelphia">

<section class="about">
  <address>
    825 N 2nd St<br>
    Philadelphia, PA 12123<br>
    <a href="tel:2154252450">(215) 425-2450</a>
    <a href="mailto:shop@exitphiladelphia.com">shop@exitphiladelphia.com</a>
  </address>

  <p>Skateboards, Apparel, Sneakers, Art</p>

  <time>Est. 2001</time>
</section>
